<%= render "shared/header" %>

<div class="user-nickname">
<%= "#{@question.user.nickname}さんによる投稿" %>
</div>

  <% if user_signed_in? && current_user.id == @question.user.id %>
    <%= link_to '編集する', edit_question_path(@question.id), method: :get %>
    <%= link_to '削除する', question_path(@question.id), method: :delete %>
  <% end %>

<div>
  質問タイトル
</div>
<div>
  <%= @question.title %>
</div>

<div>
  質問カテゴリー
</div>
<div>
  <%= @question.category.name %>
</div>

<div>
  質問内容
</div>
<div>
  <%= @question.text%>
</div>

<div>
  画像
</div>
<%= image_tag @question.image.variant(resize: '200x200'), class: 'question-image' if @question.image.attached? %>

<%#= render 'shared/error_messages', model: @comment %>

<div class="go-back-homepage">
<%=link_to "ホームへ戻る", root_path %>
</div>