<%= render "shared/header" %>

<% if user_signed_in? && current_user.id == @user.id %>
  <div>
    あなたのプロフィール
  </div>
<% else %>
  <div>
    <%= "#{@user.nickname}さんのプロフィール" %>
  </div>
<% end %>

<% if user_signed_in? && current_user.id == @user.id && @profile == nil %>
  <div>
    <%= link_to '作成する',  new_profile_path, method: :get %>
  </div>
<% elsif user_signed_in? && current_user.id == @user.id && @profile != nil %>
  <div>
    <%= link_to '編集する', edit_profile_path, method: :get %>
  </div>
<% end %>


<%# プロフィールがない場合 %>
<% if @profile == nil %>
  <h4>プロフィール画像</h4>
  <div>登録されていません</div>

  <h4>性転換歴</h4>
  <div>登録されていません</div>

  <h4>パパ活歴</h4>
  <div>登録されていません</div>

  <h4>プロフィール</h4>
  <div>プロフィールがありません</div>
<%#// プロフィールがない場合 %>
<% else %>
<%# プロフィールがある場合 %>
  <% if @profile.image.present? %>
    <h4>プロフィール画像</h4>
    <%= image_tag @profile.image.variant(resize: '200x200'), class: 'profile-image' if @profile.image.attached? %>
  <% else %>
    <h4>プロフィール画像</h4>
    <div>登録されていません</div>
  <% end %>

  <h4>性転換歴</h4>
  <div><%= @profile.trans_exp.name %></div>

  <h4>パパ活歴</h4>
  <div><%= @profile.papa_exp.name %></div>

  <h4>プロフィール</h4>
  <div><%= @profile.text %></div>
<% end %>
<%#// プロフィールがある場合 %>

  <div class="go-back-homepage">
    <%=link_to "ホームへ戻る", root_path %>
  </div>