<header class='top-header'>
  <div class='lists-left'>
  </div>

  <ul class='lists-right'>
    <% if user_signed_in? %> 
    <h3><%= "#{current_user.nickname}でログイン中" %></h3>
    <li><%= link_to 'ホーム', root_path %></li>
    <li><%= link_to 'プロフィール', profile_path(current_user.id), class: "profile" %></li>
    <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
    <li><%= link_to 'ブックマークリスト', question_bookmarks_path(current_user.id) %></li>
    <li><%= link_to 'パパリスト', papa_path(current_user.id), class: "papa" %></li>
    <li><%= link_to '美容スケジュール', beauty_event_path(current_user.id), class: "beauty_event" %></li>
      <% if current_user.profile && current_user.profile.image.present? %>
        <%= image_tag current_user.profile.image.variant(resize: '100x100') %>
      <% end %>
    
    <% else %>
    <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
    <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
    <% end %>
  </ul>
</header>